@import '../../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Lora');

/***************  GLOBAL ****************/


.root {
  font-family: 'Lora', serif;
}

.well {
  background-color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}


/***************  HEADER ****************/

.header {
  border-bottom: 1px solid black;
}

.header h1 {
  font-size: 3em;
  font-family: 'times-new-roman';
}

/***************  NAVBAR ****************/

.navbar {
  background-color: white;
  border: none;
  font-family: 'times-new-roman';
}



/***************  HOME ****************/

.row.content {
  height: 450px;
}


/***************  STORY-DETAIL ****************/

.detail-well {
  margin-top: 5%;
}

.abstract-well {
  text-align: left;
}

.story-detail a:hover {
  text-decoration: none;
}

.story-detail a {
  text-decoration: none;
  color: black;
}


/***************  STORIES-INDEX ****************/

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover, .detail-well:hover {
  background-color: #eee;
}

.selected-story {
  background-color: #eee;
}

/***************  MEDIA ****************/

@media only screen and (min-width: 768px) {
  .story-list {
    margin-top: 10%;
    height: 800px;
    overflow: scroll;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}
